:root{
    --primery-text-coor: #6C6C6C;
    --title-text-color: #000000;
    --akcent-text-color: #AC1313;
    --subtitle-text-color:#D77474;
    

}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    color: #6C6C6C;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
    margin-top: 0;
    margin-bottom: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus {
    cursor: pointer;
}

.list {
    list-style: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

/*основной цвет текта #000000*/
/* другий колір текстуrgba(0,0,0,0.8)*/
/* ssulka pokaz #ffffff */
/* teks <p> #6C6C6C */
/* ssulka Home #AC1313 */
/* ssulki radom s Home #6C6C6C */
/* zagolovok melkiu h2 #D77474 */


/* osnovnou cvet fona #ffffff */
/* vtori4nuu cvet #F5F5F5 */

/* Стилі ссилок */
.style-home{
    color: var(--akcent-text-color) ;
}
.style-nav-item {
    color:var(--primery-text-coor) ;
}
.style-nav-item:hover,
.style-nav-item:focus {
    color: var(--akcent-text-color);
}
.style-nav .link.current{
color: var(--akcent-text-color);
}
/* hero */
.title{
    color: var(--title-text-color);
}

.section-subtitle{
    color: var(--subtitle-text-color);
}
.button{
    color: #ffffff;
    background-color: var(--akcent-text-color);
}